/* Default styles for all devices */
.shop {
    margin-top: 200px;
}
.welcome-container {
    display: flex;
    justify-content: left;
}
.welcomeText {
    text-align: center;
    font-size: 40px;
    margin-left: 100px;
    padding-left: 100px;
}
.welcomeText p {
    font-size: large;
}
.button {
    font-size: large;
    font-weight: 400;
    color: white;
    background-color: red;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
.button:hover {
    background-color: black;
    color: white;
}
.manImage {
    width: 140%;
    height: auto;
}

.shopTitle {
    text-align: center;
    font-size: 40px;
}
.explore {
    color: rgb(255, 255, 255);
    background-color: gray;
    text-align: center;
    height: 100px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    padding-top: 10px;
}
.explore h1 {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .shop {
        margin-top: 100px; 
    }
    .welcome-container {
        flex-direction: column; 
        align-items: center; 
    }
    .welcomeText {
        margin-left: 0;
        padding-left: 0; 
    }
    .manImage {
        width: 100%; 
        margin-bottom: 20px; 
    }
    .shopTitle {
        font-size: 30px; 
    }
    .explore {
        width: 100%; 
    }
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 15px;
    width: 200px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 300px;
    border-radius: 10px;
}

.product .description {
    text-align: center;   
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(10, 6, 62);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

/* Styles for smaller screens (max-width: 600px, adjust as needed) */
@media (max-width: 600px) {
    .shopTitle {
        margin-top: 50px;
        font-size: 28px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .product {
        width: 90%; 
        height: auto;
        margin: 20px; 
    }

    .product img {
        width: 80%; 
    }
    
    .product .description {
        font-size: 14px;
    }
    
    .addToCartBttn {
        min-width: 80px; 
    }
}
