/* Default styles for all devices */
.navContainer {
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    position: fixed; /* Fixed position */
    top: 0; /* Fixed to the top */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto; /* Center the navbar */
}

.logo {
    color: black;
    margin-top: 30px;
    font-size: xx-large;
    background-color: white;
    border-radius: 20%;
    padding: 10px;
    font-weight: 600;
}

.logo span {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.links {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: x-large;
    font-weight: 500;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navContainer {
        height: auto; /* Auto height for mobile devices */
    }

    .navbar {
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
        max-width: 100%; /* Full width for mobile devices */
        padding: 10px; /* Add padding */
    }

    .logo {
        margin-top: 10px; /* Adjust margin */
        font-size: x-large; /* Decrease font size */
    }

    .links {
        margin-top: 20px; /* Adjust margin */
    }

    .links a {
        margin-left: 0; /* Remove left margin */
        margin-right: 0; /* Remove right margin */
        font-size: large; /* Decrease font size */
    }
}
